.DS_Store
.atom/
.dart_tool/
.idea
.packages
.pub/
packages
pubspec.lock
.flutter-plugins
build
/local.properties
*.log
flutter_export_environment.sh
node_modules
*.old
.flutter-plugins-dependencies
